body {
}

/*Cartao de credito*/
.credit-card {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(135deg, #007bff, #6610f2);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
}

    .credit-card .card-number {
        font-size: 1.2rem;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .credit-card .card-balance {
        font-size: 1rem;
        font-weight: bold;
    }

    .credit-card .logo {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.5rem;
    }

    .credit-card .card-holder {
        position: absolute;
        bottom: 15px;
        font-size: 0.8rem;
    }

    .credit-card.add-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #282828;
        color: #aaa;
        border: 2px dashed #444;
        border-radius: 10px;
        height: 200px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .add-card:hover {
        background: #333;
        color: white;
        border-color: #666;
    }

.credit-card.add-icon {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}


.payment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .payment-list li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
    }

.payment-date {
    font-weight: bold;
    color: #007bff;
    flex: 0 0 70px;
}

.progress-bar {
    height: 10px;
}
